body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    --side: 15rem;
    display: grid;
    grid-template: repeat(3,var(--side)) / repeat(3,var(--side));
}

.tile {
    font-family:'Courier New', Courier, monospace;
    font-size: var(--side);
    color: rgb(96, 96, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin: 10px;
}