:root {
    font-family:'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    --side: 10rem;
    display: grid;
    grid-template: repeat(3,var(--side)) / repeat(3,var(--side));
}

.tile {
    font-size: var(--side);
    color: rgb(96, 96, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    border-radius: 10px;
    margin: 10px;
}

form {
    display: grid;
    grid-template: auto/auto 1fr;
    gap: 10px;
}

form button {
    grid-column: 1/3;
}

button {
    font-family: 'Courier New', Courier, monospace;
}